body{
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(90deg,#1A3A3A,black);
    color: #DCCFEC;
    margin: 0;
}
body > a{
    text-decoration: none;
    background: #DCCFEC;
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
    display: block;
    width: fit-content;
    color: #4F517D;
    margin-left: 20px;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 60px;
}

.animal{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
fieldset{
    background: black;
    margin-bottom: 20px;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}
legend{
    font-size: 30px;
    font-weight: bolder;
}
label{
    font-size: 23px;
    font-weight: bolder;
}
.animal p{
    width: 50%;
}
.animal input{
    height: 30px;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 15px;
}
.animal select{
    height: 30px;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 15px;
}

.bouton{
    display: flex;
    justify-content: center;
}
.bouton button{
    font-size: 20px;
    background: #A997DF;
    padding: 15px 30px;
    border-radius: 25px;
}

.formul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formul p{
    display: flex;
    width: 500px;
    justify-content: center;
}
.formul p label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formul input{
    height: 40px;
    width: 98%;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 15px;
}
.formul select{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 15px;
}
.formul .coche label{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.coche input{
    padding: 0;
    align-items: center;
    width: 50px;
    padding-right: 40px;
}